body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  *,
  &::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  font-family: "BMHANNAPro";
}
@font-face {
  font-family: "BMHANNAPro";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.components-container {
  width: 560px;
  margin: 0 auto;
}

.divider {
}
