$white: #fff;
$disabled: #ccc;
$colors: (
    Woowahal-green: (
        100: #d4f3f2,
        200: #aae6e4,
        300: #7fdad7,
        400: #55cdc9,
        500: #2ac1bc,
        600: #229a96,
        700: #197471,
        800: #114d4b,
        900: #082726
    )
);  