@use "../function/" as *;

@mixin Hanna {
  @font-face {
    font-family: "BMHANNAPro";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
}
// 을지로체 사용 여부 판단하기.
@mixin Eulziro {
  @font-face {
    font-family: "BMEULJIRO";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
}

$font-sm: em(8px);
$font-sub: em(14px);
$font-base: em(16px);
$font-md: em(24px);
$font-lg: em(32px);
$font-xl: em(48px);
