@mixin Hanna {
  @font-face {
    font-family: "BMHANNAPro";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
}
// 을지로체 사용 여부 판단하기.
@mixin Eulziro {
  @font-face {
    font-family: "BMEULJIRO";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
}

$font-base: 16px;
$font-lg: 32px;
$font-xl: 48px;
