@use "../function/" as *;

$spacing-xs: rem(4px);
$spacing-sm: rem(8px);
$spacing-base: rem(16px);
$spacing-md: rem(24px);
$spacing-lg: rem(32px);
$spacing-xl: rem(48px);

$br-xs: rem(4px);
$br-sm: rem(8px);
$br-base: rem(16px);
$br-md: rem(24px);
$br-lg: rem(32px);
$br-xl: rem(48px);
