body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BMHANNAPro";
}
body *, body::after,
body *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "BMHANNAPro";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.components-container {
  width: 560px;
  margin: 0 auto;
}

.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}

button {
  border: none;
  background: transparent;
}

.btn-order {
  width: 100%;
  background-color: #2ac1bc;
  color: #fff;
  padding: 16px 0;
  font-size: 32px;
  border-radius: 8px;
  margin: 16px 0;
}
.btn-order:focus {
  border: solid #082726 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-order:disabled {
  background-color: #d4f3f2;
  color: #ccc;
}

ul {
  list-style-type: none;
}

.container-row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  overflow: scroll;
}
.container-row li {
  background-color: red;
}
.container-col {
  display: flex;
  flex-flow: column nowrap;
  overflow: scroll;
}
.container-col li {
  background-color: yellow;
}
.container-img-info {
  display: flow-root;
  width: 100%;
}
.container-img-info .left {
  float: left;
  height: 10vh;
}
.container-img-info .left + ul {
  float: left;
}
.container-img-info .right {
  float: right;
  height: 10vh;
}
.container-img-info .right + ul {
  float: left;
}

.key-value-box {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: currentColor;
}

.footer {
  width: 100%;
}
.footer-navigation {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  border: solid blue 4px;
}
.footer-navigation-main {
  color: white;
  border: solid 1px;
  padding: 16px;
  border-radius: 200px;
  background-color: #2ac1bc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: translate(0, -16px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.header .header-left-area,
.header .header-right-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.header .header-left-area .header-icon,
.header .header-right-area .header-icon {
  display: inline-block;
  background: silver;
  width: 2.5em;
  height: 2.5em;
}

.header-haveimg {
  background: skyblue;
  color: white;
  height: 15rem;
}
.header-haveimg .header-icon {
  background-color: transparent;
}

body {
  background: #d9d9d9;
}

.main-header {
  background: #2ac1bc;
  padding: 16px;
}

.search-bar {
  margin-top: 16px;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}
.search-bar label {
  position: absolute;
  background: yellow;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}
.search-bar-input {
  border: 1px solid #d9d9d9;
  border-radius: 0 0 4px 4px;
  width: 100%;
  padding: 16px 48px;
}

.sitemenu-list {
  background: red;
  padding: 16px;
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
}
.sitemenu-list .w-50 {
  width: 48%;
  background: yellow;
}
.sitemenu-list .w-100 {
  width: 100%;
  background: green;
}
.sitemenu-list .w-25 {
  width: 22%;
  background: pink;
}

.advertisement {
  margin: 16px 0;
  background: green;
  width: 100%;
}

.guide-list {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  align-items: center;
}

.main-footer {
  padding: 16px;
}
.main-footer p {
  margin-top: 16px;
}
.main-footer small {
  margin-top: 16px;
}

.category-header {
  padding: 16px;
  background: skyblue;
  position: fixed;
  top: 0;
  width: 100%;
}
.category-header div {
  background: magenta;
}
.category-header address {
  background: cyan;
  margin-top: 16px;
}

.promotion {
  padding-top: 100px;
  background: pink;
}

.container-row {
  padding: 16px;
  background: #fff;
}

.category-list {
  background: lime;
  padding: 16px;
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
  justify-content: space-between;
}
.category-list li {
  background: yellow;
  width: 15%;
  height: 50px;
}

.recommended {
  margin-top: 16px;
  background: #fff;
}
.recommended-list {
  height: 100vh;
}

.circle-navigation {
  background: orange;
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.selected-menus .selected-menu {
  position: relative;
  border-top: solid #ccc 2px;
  border-bottom: solid #ccc 2px;
}
.selected-menus .selected-menu-button-wrapper {
  display: flex;
  justify-content: flex-end;
}
.selected-menus .selected-menu-button-wrapper .option {
  background-color: aqua;
  margin-right: 16px;
}
.selected-menus .selected-menu-button-wrapper .amount {
  background-color: pink;
}
.selected-menus .selected-menu-button-wrapper .amount-reduce {
  border: 1px solid red;
}
.selected-menus .selected-menu-button-wrapper .amount-add {
  border: 1px solid red;
}
.selected-menus .selected-menu-remove {
  position: absolute;
  top: 0;
  right: 0;
}
.selected-menus-add {
  width: 100%;
  text-align: center;
}
.selected-menus-add::before {
  content: "+ ";
  font-weight: 900;
}

.delivery {
  background-color: tan;
  padding: 16px 0;
}
.delivery strong {
  font-weight: 900;
}

.selected-price-info {
  display: flex;
  justify-content: space-between;
}

.menus-order {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menus-order span {
  font-size: 16px;
}

.result {
  background-color: #ccc;
}
.result > section {
  border: 2px solid blue;
  margin-bottom: 16px;
  background-color: white;
}
.result .ordered-status {
  display: flow-root;
}
.result .ordered-status .decoration-img {
  background-color: red;
  display: block;
  height: 10vh;
  float: right;
}
.result .ordered-status-progress {
  background-color: lime;
  margin: 0 16px;
}
.result .requirement-title {
  font-size: 14px;
  color: #ccc;
}

.menu-add {
  background-color: lime;
  align-items: center;
}
.menu .info-box {
  background-color: tan;
  padding: 16px 0;
  margin: 16px 0;
  align-items: center;
}
.menu .info-box > * {
  margin-top: 16px;
}

.category-tab {
  gap: 16px;
  border-bottom: 1px solid silver;
}
.category-tab .category-tab-item button {
  white-space: nowrap;
}

.sortbys {
  gap: 16px;
}
.sortbys button {
  white-space: nowrap;
}
.sortbys .sortby-list {
  display: none;
}

.store-list {
  height: 100vh;
}
.store-list li {
  display: flex;
  flex-direction: column;
  background: skyblue;
  padding: 16px;
  margin-top: 1px;
}
.store-list li a {
  display: flex;
}
.store-list li .store-list-imgbox {
  width: 5em;
  height: 5em;
  border-radius: 1.5rem;
  background-color: pink;
}
.store-list li .store-list-imgbox img {
  width: 100%;
  height: 100%;
}
.store-list .store-list-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
  margin-left: 16px;
}
.store-list .store-list-time {
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  background: silver;
  width: 5em;
}

.store-intro {
  position: absolute;
  transform: translate(33%, -20%);
  background: #fff;
  border-radius: 0.5rem;
  border: 1px solid silver;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;
  width: 60%;
}
.store-intro store-intro-name {
  white-space: wrap;
  width: 50%;
}

.order-additional {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  /* align-items: center; */
}
.order-additional .order-button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 16px;
  border-bottom: 1px solid silver;
  margin-top: 8rem;
}
.order-additional .order-button-container .order-delivery-list {
  /* display: none; */
}
.order-additional .order-button-container .order-togo-list {
  border-bottom: 1px solid silver;
}
.order-additional .order-button-container .order-togo-list .order-togo-item {
  display: flex;
  margin: 0.5rem 0;
}
.order-additional .order-button-container .order-togo-list .order-togo-item .order-togo-item span {
  display: inline-block;
  width: 8em;
  padding: 0 16px;
}
.order-additional .order-button-container .order-togo-list .order-togo-item .order-togo-item address {
  display: inline-block;
  width: 20em;
}

.order-togo-map {
  margin-left: 8em;
  width: 20em;
  height: 12em;
  background: green;
}

.menu-tab-collection {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem 16px;
  background-color: white;
}
.menu-tab-collection .menu-tab {
  display: flex;
  flex-direction: column;
}
.menu-tab-collection .menu-tab .menu-announce {
  padding-left: 16px;
  background: #fff;
}
.menu-tab-collection .menu-tab .menu-container {
  height: 100vh;
}
.menu-tab-collection .menu-tab .menu-container button {
  height: 1rem;
}

.menu-list-item {
  display: flex;
  justify-content: space-between;
  align-items: top;
  background: skyblue;
  padding: 16px;
  margin-top: 1px;
  border-bottom: 1px solid silver;
}
.menu-list-item .imgbox {
  width: 5rem;
  height: 5rem;
  border-radius: 1.5rem;
  background-color: pink;
}
.menu-list-item img {
  width: 100%;
  height: 100%;
}

.store-notice {
  margin: 16px 16px;
}
.store-notice li {
  margin-top: 0.3em;
}

.cartbtn-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border-top: 2px solid silver;
}
.cartbtn-container .btn-order.cartbtn {
  margin: 16px 16px 0 16px;
  display: flex;
  justify-content: center;
}
.cartbtn-container .btn-order.cartbtn .cartbtn-quantity {
  position: absolute;
  left: 48px;
}
.cartbtn-container .btn-order.cartbtn .cartbtn-price {
  position: absolute;
  right: 48px;
}

/*# sourceMappingURL=index.css.map */
