<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="../style/index.css" />
</head>
<body>
  <a href="/">처음으로</a>
  <div id="button-collection" class="components-container">

    <button type="button" class="btn-order">주문하기</button>
    <button type="button" class="btn-order" disabled="true">주문하기</button>
    <button type="button" class="btn-order" focused="true">주문하기</button>

  </div>


</body>
</html>
