<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .carousel {
        background: red;
      }
      .carousel-slider {
        background: lime;
      }
      .carousel-slide {
        background: purple;
      }
    </style>

    <link rel="stylesheet" href="../style/index.css" />
  </head>
  <body>
    <a href="/">처음으로</a>
    <!-- img를 bg로 처리하고 텍스트는 이미지 뒤로 숨김처리하는거 고민해보기 -->
    <section class="carousel">
      <h2 class="carousel-title a11y-hidden">캐러셀 제목</h2>
      <ul class="carousel-slider">
        <li class="carousel-slide">
          <a href="#">ir</a>
        </li>
        <li class="carousel-slide">
          <a href="#"><img src="/" alt="" />2</a>
        </li>
        <li class="carousel-slide">
          <a href="#"><img src="/" alt="" />3</a>
        </li>
      </ul>
      <div class="offscreen"><span>오프스크린텍스트</span></div>
    </section>
  </body>
</html>
