<!DOCTYPE html>
<html lang="ko-KR">


  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer 공통 컴포넌트</title>

    <link rel="stylesheet" href="../style/pages/store_detail.css" />
  </head>
  <body>
    <a href="/">처음으로</a>
    <div id="container-collection" class="components-container">


      <div class="container-rating">
        
        <ul class="colorBox">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <span>7</span>
      </div> 

      <ul class="container-row">
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
      </ul>

      <ul class="container-col">
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
        <li>Play DATA</li>
      </ul>

      <div class="container-img-info left">
        <img src="../asset/imgs/store/pizzahut/돈마호크.png" alt="" />
        <ul>
          <li>가격 L (24,900원)</li>
          <li class="selected-menu-info-price price">19,000원</li>
        </ul>
      </div>

      <div class="container-img-info right">
        <img src="../asset/imgs/store/pizzahut/돈마호크.png" alt="" />
        <ul>
          <li>가격 L (24,900원)</li>
          <li class="selected-menu-info-price price">19,000원</li>
        </ul>
      </div>

      
    </div>
  </body>

</html>
