<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="../style/index.css" />

</head>
<body>
    <footer class="footer">

        <nav class="footer-navigation">
          <a href="#" class="footer-navigation-search" title="가게 검색하기">검색</a>
          <a href="#" class="footer-navigation-pick" title="찜한 목록 보기">찜</a>
          <a href="#" class="footer-navigation-main" title="메인으로 이동하기">메인</a>
          <a href="#" class="footer-navigation-record" title="주문내역">주문내역</a>
          <a href="#" class="footer-navigation-dashboard" title="My 배민으로 가기">My 배민</a>
        </nav>
    
      </footer>
</body>
</html>