<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="../style/index.css" />
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro-v6@44659d9/css/all.min.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <footer class="footer">
      <nav class="circle-navigation">
        <ul class="circle-navigation-list">
          <li>
            <a href="#"><i class="fa-solid fa-magnifying-glass circle-navigation-icon"></i> <span>검색</span></a>
          </li>
          <li>
            <a href="#"><i class="fa-regular fa-heart circle-navigation-icon"></i><span>찜</span></a>
          </li>
          <li class="circle-navigation-home">
            <a class="homelink" href="#">배민</a>
          </li>
          <li>
            <a href="#"><i class="fa-regular fa-memo circle-navigation-icon"></i><span>주문내역</span></a>
          </li>
          <li>
            <a href="#"><i class="fa-light fa-face-smile-tongue circle-navigation-icon"></i><span>My배민</span></a>
          </li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
