<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="header-common">
      <div class="header-common-left-area">
        <a href="./main.html" aria-label="이전 페이지로 이동"><i class="fa-regular fa-arrow-left header-common-icon"></i></a>
        <img src="./asset/webp/배민1_로고_모니터(RGB)_0블랙.webp" class="pagename" alt="배민1" />
      </div>

      <div class="header-common-right-area">
        <a href="./main.html" aria-label="메인 페이지로 이동"><i class="fa-light fa-house header-common-icon"></i></a>
        <a href="./cart.html" aria-label="장바구니 페이지로 이동"><i class="fa-light fa-cart-shopping header-common-icon"></i></a>
      </div>
    </header>
  </body>
</html>
<!-- 링크 버튼 어떤 것을 선택할지에 대해 생각
재사용성 생각-
rem -> em -->
