<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style/index.css" />
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro-v6@44659d9/css/all.min.css" rel="stylesheet" type="text/css" />
  </head>
  <body style="background-color: white">
    <div>
      <!-- 이미지 없을 때 -->
      <!-- -------------------- -->

      <div class="introbox">
        <h2 class="a11y-hidden">가게 정보 영역</h2>
        <div class="introbox-info">
          <h3>STORE NAME</h3>
        </div>
      </div>
      <!-- ------------------------------ -->
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div>
      <!-- 이미지 있을 때 -->
      <!-- -------------------------- -->
      <div class="introbox withimg">
        <h2 class="a11y-hidden">가게 정보 영역</h2>
        <div class="introbox-info">
          <h3>STORE NAME</h3>
        </div>
      </div>
      <!-- ------------------------- -->
    </div>
  </body>
</html>
