@use "../base" as *;
@use "../function" as *;

.category-header {
  padding: $spacing-base;
  background: skyblue;
  position: fixed;
  top: 0;
  width: 100%;

  div {
    background: magenta;
  }
  address {
    background: cyan;
    margin-top: $spacing-base;
  }
}

.promotion {
  padding-top: 100px;
  background: pink;
}

.container-row {
  padding: $spacing-base;
  background: $white;
}

.category-list {
  background: lime;
  padding: $spacing-base;
  display: flex;
  flex-flow: row wrap;
  gap: $spacing-base;
  justify-content: space-between;
  li {
    background: yellow;
    width: 15%;
    height: 50px;
  }
}

.recommended {
  margin-top: $spacing-base;
  background: $white;
  &-list {
    height: 100vh;
  }
}

.circle-navigation {
  background: orange;
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
}
