@use "../base" as *;
@use "../function" as *;

.st-list {
  & button {
    font-family: "BMHANNAPro";
  }

  &-category {
    gap: $spacing-base;
    border-bottom: 2px solid $grey;
    height: 2.5rem;
    position: fixed;
    top: 3.5rem;
    align-items: center;
    padding: 0 $spacing-base;
    background: $white;

    & button {
      white-space: nowrap;
      color: grey;
      padding-top: $spacing-base;
      padding-bottom: 0.5rem;
      border-bottom: 4px solid transparent;
      font-size: $font-base;
    }

    & button.is-active {
      border-bottom: 4px solid black;
      color: black;
    }
  }

  // 정렬 기준 영역
  &-sortbys {
    gap: $spacing-lg;
    height: 2.5rem;
    position: fixed;
    top: 6rem;
    align-items: center;
    padding: 0 $spacing-base;
    background: $white;

    & .sortby {
      & button {
        white-space: nowrap;
        color: grey;
      }

      &-list {
        display: none;
      }

      & .fa-badge-percent {
        background: orange;
        color: $white;
      }

      & .fa-hand-point-up {
        color: #ecb28d;
      }
    }
  }

  &-scroll {
    margin-top: 8.5rem;

    & i {
      color: #f9c60b;
    }

    & .scroll-item {
      display: flex;
      flex-direction: column;
      background: $white;
      padding: $spacing-base;
      margin-bottom: 1px;

      &-menu {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      & a {
        display: flex;
      }

      &-img {
        width: 5rem;
        height: 5rem;
        border-radius: 1.5rem;
        background-image: url(/asset/imgs/떡볶이.jpg);
        background-size: cover;
        margin-right: $spacing-base;
      }

      &-info {
        width: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5em;
      }

      &-time {
        display: flex;
        justify-content: center;
        border-radius: 1rem;
        background: silver;
        width: 5em;
      }
    }
  }
}
