@use "../base" as *;
@use "../function" as *;

.st-header.header-common {
  background-color: transparent;
  color: $white;
}

.st-detail {
  margin-bottom: 10rem;

  .divider {
    content: "";
    display: inline-block;
    width: 1px;
    height: $font-base;
    margin: 0 $spacing-sm;
    background-color: $grey;
    // vertical-align: middle;
  }

  &-introbox.withimg::before {
    background-image: url(/asset/imgs/떡볶이.jpg);
  }

  &-introbox {
    background: $white;

    .introbox-info {
      & div {
        width: 100%;
      }

      &-row1 {
        font-size: 1.2rem;
      }

      &-row2 {
        display: flex;
        justify-content: center;
        font-size: 0.9rem;
      }

      &-row3 {
        display: flex;
        justify-content: space-around;
        margin-top: $spacing-base;
        font-size: 1rem;

        & button {
          font-size: 1rem;
        }
      }
    }
  }

  & .additional-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $white;
    // height: 5rem;
    /* align-items: center; */
    // border-bottom: 0.5rem solid silver;

    & .additional-btn {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
      padding: 0 $spacing-base;
      border-bottom: 1px solid silver;
      font-size: 1.1rem;
      position: relative;
      top: -$spacing-base;
      background: $white;
      button {
        padding-bottom: $spacing-base;
      }

      &-delivery {
        color: $disabled;
        font-size: 1.1rem;
        border-bottom: 4px solid transparent;
      }

      &-togo {
        font-size: 1.1rem;
        border-bottom: 4px solid black;
        // padding-bottom:;
      }
    }
    & .order-togo {
      margin: 0 $spacing-base;
      & li {
        display: flex;
        margin: 1rem 0;
        & span {
          display: inline-block;
          width: 8em;
          padding: 0 $spacing-base;
        }
        & address {
          display: inline-block;
          width: 14em;

          & img {
            margin-top: $spacing-base;
          }
        }
      }
    }
  }

  &-tab {
    display: flex;
    // align-items: center;
    padding-bottom: 0;
    background-color: white;
    margin-top: $spacing-sm;

    & button {
      font-size: 1rem;
      padding: $spacing-base;
      color: $disabled;
      flex-grow: 1;
    }
    & li {
      flex-grow: 1;
      text-align: center;
      border-bottom: 2px solid $grey;
    }
    & li.is-active {
      border-top: 2px solid black;
      border-right: 2px solid $grey;
      border-bottom: none;

      & button {
        color: black;
        font-size: 1.1rem;
      }
    }
  }

  &-announce {
    padding: $spacing-base;
    background: $white;
    height: 10rem;
    font-size: 0.9rem;
  }

  &-menus {
    background: $white;

    & .menu {
      &-btn {
        display: block;
        width: 100%;
        padding: $spacing-base;
        background: $grey;
        font-size: 1.1rem;
        border-bottom: 1px solid grey;
        text-align: left;
        position: relative;

        & i {
          position: absolute;
          right: $spacing-base;
          color: gray;
        }
      }

      & img {
        margin-top: $spacing-sm;
        width: 5rem;
        height: 5rem;
        border-radius: 1.5rem;
        float: right;
      }

      &-info {
        margin-bottom: $spacing-xs;
        & li {
          padding: $spacing-xs 0;
        }

        &-name {
          font-size: 1.1rem;
        }

        &-detail {
          font-size: 0.9rem;
          color: $grey;
        }
      }
    }

    &-represent {
      padding: $spacing-lg $spacing-base;
      text-align: center;
      font-size: $font-md;
      color: burlywood;
    }

    & .menu-represent {
      margin: $spacing-sm;
      border: 4px solid burlywood;
      clip-path: polygon(5% 0, 95% 0, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0 95%, 0 5%);
    }
  }

  &-notice {
    margin: $spacing-base $spacing-base;

    li {
      margin-top: 0.3em;
    }
  }

  &-origin {
    background: white;
    margin-top: $spacing-sm;
    padding: $spacing-lg $spacing-base;
    display: flex;
    flex-direction: column;
    gap: $spacing-base;

    & .origin-title {
      font-size: 1.1rem;
    }
  }

  &-notice {
    & .notice-title {
      font-size: 0.9rem;
      background: $grey;
      margin-bottom: $spacing-sm;
    }

    & li {
      font-size: 0.8rem;
      color: grey;
    }
  }

  & .st-cart {
    width: 100%;
    height: 9rem;
    position: fixed;
    bottom: 0;
    background: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $spacing-base;
    border-top: 2px solid silver;

    &-btn {
      margin: $spacing-base $spacing-base 0 $spacing-base;
      display: flex;
      justify-content: center;
      font-size: 1.2em;

      &-quantity {
        position: absolute;
        left: 10%;
      }
      &-price {
        position: absolute;
        right: 10%;
      }
    }
  }
}
