@use "../base" as *;
@use "../function" as *;

.st-header.category-header {
  background-color: transparent;
}

.st-detail {
  margin-bottom: 10rem;
  .st-img {
    width: 100%;
    height: 20rem;
    position: relative;
  }

  &-intro {
    position: absolute;
    transform: translate(33%, -20%);
    background: $white;
    border-radius: 0.5rem;
    border: 1px solid silver;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacing-base;
    padding: $spacing-base;
    width: 60%;

    &-name {
      white-space: wrap;
      width: 50%;
    }
  }

  .additional-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $white;
    // height: 5rem;
    /* align-items: center; */
    // border-bottom: 0.5rem solid silver;

    & .additional-btn {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
      padding: $spacing-base;
      border-bottom: 1px solid silver;
      margin-top: 8rem;
      // height: 20rem;
      &-delivery {
        // border-bottom:
        /* display: none; */
      }

      &-togo {
        border-bottom: 1px solid silver;
      }
    }
    & .order-togo {
      margin: 0 $spacing-base;
      & li {
        display: flex;
        margin: 0.5rem 0;
        & span {
          display: inline-block;
          width: 8em;
          padding: 0 $spacing-base;
        }
        & address {
          display: inline-block;
          width: 14em;

          & iframe {
            width: 100%;
            height: 10em;
            border: 1px solid $grey;
          }
        }
      }
    }
  }

  &-tab {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem $spacing-base;
    background-color: white;
    // border-bottom: 1px solid silver;
  }
  &-info {
    padding-left: $spacing-base;
    background: $white;
    height: 10rem;
  }

  &-menus {
    height: 100vh;

    & li {
      display: flex;
      justify-content: space-between;
      align-items: top;
      background: skyblue;
      padding: $spacing-base;
      margin-top: 1px;
      border-bottom: 1px solid silver;

      .imgbox {
        width: 80px;
        height: 80px;
        border-radius: 1.5rem;
        background-image: url(/public/asset/imgs/떡볶이.jpg);
        background-size: cover;
      }
    }

    & menus-btn {
      height: 1rem;
    }
  }

  &-notice {
    margin: $spacing-base $spacing-base;

    li {
      margin-top: 0.3em;
    }
  }

  & .st-cart {
    width: 100%;
    height: 20%;
    position: fixed;
    bottom: 0;
    background: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $spacing-base;
    border-top: 2px solid silver;

    &-btn {
      margin: $spacing-base $spacing-base 0 $spacing-base;
      display: flex;
      justify-content: center;
      font-size: 1.2em;

      &-quantity {
        position: absolute;
        left: 10%;
      }
      &-price {
        position: absolute;
        right: 10%;
      }
    }
  }
}

// 밑에 버튼 픽스때문에 가려진거 반응적으로 할려면 어떻게 해야할까
