@use "../base" as *;
@use "../function" as *;

// 마진 탑 값 마찬가지
.st-list {
  margin-top: 57px;

  &-category {
    gap: $spacing-base;
    border-bottom: 1px solid silver;

    & button {
      white-space: nowrap;
    }
  }

  // 정렬 기준 영역
  &-sortbys {
    gap: $spacing-base;

    & .sortby {
      & button {
        white-space: nowrap;
      }

      &-list {
        display: none;
      }
    }
  }

  &-scroll {
    height: 100vh;

    & .scroll-item {
      display: flex;
      flex-direction: column;
      background: skyblue;
      padding: $spacing-base;
      margin-top: 1px;

      & a {
        display: flex;
      }

      &-img {
        width: 5em;
        height: 5em;
        border-radius: 1.5rem;
        background-image: url(/public/asset/imgs/떡볶이.jpg);
        background-size: cover;
      }

      &-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5em;
        // 스페이싱보다는 이미지 커지고 글자크기도 커지면서 조정 되게 em? 잘모르겠으니 물어보기
        margin-left: $spacing-base;
      }

      &-time {
        display: flex;
        justify-content: center;
        border-radius: 1rem;
        background: silver;
        width: 5em;
      }
    }
  }
}
