@use "../base" as *;
@use "../function" as *;
@use "../components" as *;

body {
  background: $grey;
}

.main-header {
  background: getColor(Woowahal-green, 500);
  padding: $spacing-base;
  border-radius: 0 0 $spacing-base $spacing-base;
  display: flex;
  position: relative;
  flex-flow: column;
  &-list {
    position: absolute;
    right: $spacing-base;
    top: $spacing-base;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
    gap: $spacing-md;
  }
  a {
    display: block;
  }
  &-icon {
    color: $white;
    font-size: $font-md;
  }
}

.order-address {
  font-style: normal;
  color: $white;
  display: inline-block;
  font-size: $font-md;
  i {
    font-size: $font-base;
    margin-left: $font-sm;
  }
}

.menu-icon {
  width: $font-md;
}

.search-bar {
  margin-top: $spacing-base;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  &-icon {
    color: getColor(Woowahal-green, 500);
    font-size: $font-md;
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
  }
  &-input {
    border: 1px solid $grey;
    border-radius: 0 0 4px 4px;
    width: 100%;
    padding: $spacing-base $spacing-xl;
  }
}

.sitemenu-list {
  padding: $spacing-md;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "baemin1 baemin1 delivery delivery"
    "baemin1 baemin1 delivery delivery"
    "baemin1 baemin1 delivery delivery"
    "package package package package "
    "bmart bmart mealkit mealkit"
    "bmart bmart mealkit mealkit"
    "baeminstore baeminstore baeminstore baeminstore"
    "shoppinglive shoppinglive gift delicious"
    "shoppinglive shoppinglive gift delicious";

  gap: $spacing-base;

  li {
    border-radius: $spacing-base;
    background: $white;
    &:active {
      transform: scale(0.9);
    }
  }
  a {
    display: block;
    padding: $spacing-base;
    width: 100%;
    height: 100%;
    span {
      display: block;
    }
    .accent {
      display: inline;
      background: rgba($color: getColor(Woowahal-green, 500), $alpha: 0.2);
      box-shadow: 4px 0px 1px 1px rgba($color: getColor(Woowahal-green, 500), $alpha: 0.3);
    }
    h2 {
      margin-bottom: $spacing-base;
    }
  }

  .square-50 {
    width: 100%;
    height: rem(200px);
  }
  .w-100 {
    width: 100%;
  }
  .w-50 {
    width: 100%;
    height: rem(112px);
    &-2 {
      height: rem(116px);
      a {
        display: flex;
        flex-flow: column;
        justify-content: center;
      }
    }
  }
  .square-25 {
    width: 100%;
    height: rem(116px);
    a {
      display: flex;
      flex-flow: column;
      justify-content: end;
      align-items: center;
      h2 {
        margin: 0;
      }
    }
  }
  .bg-baemin1 {
    grid-area: baemin1;
    background-image: url(/asset/imgs/배민1.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }
  .bg-delivery {
    grid-area: delivery;
    background-image: url(/asset/webp/배달bg.webp);
    background-size: cover;
  }
  .bg-package {
    grid-area: package;
    background-image: url(/asset/webp/포장bg.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 90%;
  }
  .bg-bmart {
    grid-area: bmart;
    background-image: url(/asset/webp/b마트.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 90%;
  }
  .bg-mealkit {
    grid-area: mealkit;
    background-image: url(/asset/webp/밀키트.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 90%;
  }
  .bg-baeminstore {
    grid-area: baeminstore;
    background-image: url(/asset/webp/sale.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 90%;
  }
  .bg-shoppinglive {
    grid-area: shoppinglive;
    background-image: url(/asset/webp/쇼핑라이브.webp);
    background-repeat: no-repeat;
    background-size: rem(100px);
    background-position: 90%;
  }
  .bg-gift {
    grid-area: gift;
    background-image: url(/asset/webp/선물하기.webp);
    background-repeat: no-repeat;
    background-size: rem(60px);
    background-position: center 20%;
    h2 {
      font-size: $font-base;
      font-weight: 500;
    }
  }
  .bg-delicious {
    grid-area: delicious;
    background-image: url(/asset/webp/전국별미.webp);
    background-repeat: no-repeat;
    background-size: rem(70px);
    background-position: center 15%;
    h2 {
      font-size: $font-base;
      font-weight: 500;
    }
  }
}

.promotion {
  width: 90%;
  margin: 0 auto;
  li {
    width: 100%;
  }
}

.fastdelivery,
.gift,
.baemindo {
  margin-top: $spacing-base;
  background: $white;
  width: 100%;
  padding: $spacing-base;
  h2 {
    font-weight: 500;
  }
}

.fastdelivery {
  .container-row {
    margin-top: $spacing-base;
  }
  li {
    margin-right: $spacing-base;
    padding: 1rem;
    a {
      outline-offset: 0.5rem;
    }
  }
  .storeinfo {
    width: rem(150px);
    height: rem(150px);
    border-radius: $spacing-sm;
  }
  p {
    margin-top: $spacing-sm;
  }
  .deliverytime {
    border: 1px solid getColor(Woowahal-green, 500);
    padding: $spacing-xs $spacing-sm;
    background-color: rgba($color: getColor(Woowahal-green, 500), $alpha: 0.1);
  }
  .baeminlogo {
    width: $font-lg;
  }
  & li:active {
    transform: scale(0.9);
  }
}

.star-icon {
  color: $yellow;
}

.gift {
  .container-row {
    margin-top: $spacing-base;
  }
  li {
    margin-right: $spacing-base;
    padding: 1rem;
    a {
      outline-offset: 0.5rem;
    }
    img {
      width: rem(200px);
      height: rem(250px);
    }
    p {
      margin-top: $spacing-base;
    }
  }
  &-more-info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: $spacing-base;
    align-items: center;
    .gift-more-link {
      padding: 1rem 1.2rem;
      background: rgba($color: $black, $alpha: 0.1);
      border-radius: 50%;
    }
  }
  & a:active {
    transform: scale(0.9);
    img {
      transform: scale(0.9);
    }
  }
}

.advertisement {
  width: 100%;
  margin: $spacing-base 0;
}

.baemindo {
  &-container {
    margin-top: $spacing-base;
    display: grid;
    grid-template-areas:
      "volunteer  multiuse "
      ".   multiuse"
      "report   multiuse"
      "report   multiuse"
      "report   ."
      "report   discount";
    gap: 0 $spacing-base;
  }
  &-img-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: $spacing-base;
    a {
      outline-offset: 0.5rem;
    }
    img {
      width: 100%;
      border-radius: $spacing-sm;
    }
  }
  & a:active {
    img {
      transform: scale(0.9);
    }
  }
}

.voulunteer {
  grid-area: volunteer;
}

.multiuse {
  grid-area: multiuse;
}

.managereport {
  grid-area: report;
}

.discount {
  grid-area: discount;
}

.main-footer {
  padding: $spacing-base;
  color: rgba($color: $black, $alpha: 0.4);
  .guide-list {
    display: flex;
    flex-flow: row nowrap;
    gap: rem(8px);
    align-items: center;
    li:last-child {
      color: $black;
    }
  }
  .detailinfo {
    margin-top: $spacing-base;
    h2 {
      color: $black;
      font-size: 1.2rem;
      .more-info-btn {
        cursor: pointer;
      }
    }
    div {
      margin-top: $spacing-sm;
    }
    .company-more-info {
      display: none;
    }
    .is-visible {
      display: block;
      animation-name: movedown;
      animation-duration: 1000ms;
    }
  }
  small {
    display: block;
    margin-top: $spacing-sm;
    font-size: $font-base;
  }
}

@keyframes movedown {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
  }
}
