@use "../base/" as *;
@use "../function" as *;
@use "../components" as *;

.ordered {
  & > section {
    border: 2px solid blue;
    padding: #{$spacing-base};
    margin-bottom: 16px;
    background-color: white;
  }

  & > * > * {
    margin-top: 8px;
  }

  &-status {
    display: flow-root;

    &-addtion {
      color: #{$grey};
    }
    &-progress {
      margin: 0 16px;
    }
    &-cancel {
      // 컴포넌트화 시키고싶은 버튼
      padding: 8px;
      font-family: "BMHANNAPro";
      border: solid #{$grey} 1px;
      border-radius: #{$spacing-base};
    }
    .decoration-img {
      display: block;
      height: 10vh;
      float: right;
    }
  }

  &-history {
    &-title {
      align-items: center;
      & .tag {
        // right: 8px;
        // bottom: 8px;
        background-color: rgba($color: $black, $alpha: 0.7);
        padding: 8px $spacing-base;
        border-radius: $spacing-base;
        color: $white;
        font-size: $font-base;
      }
    }

    &-requirement {
      & .title {
        font-size: 14px;
        color: #{$grey};
      }
      & .content {
        text-indent: #{$spacing-base};
      }
    }

    &-store {
      & .title {
        font-weight: 700;
      }
    }
  }

  .carousel {
    width: 100%;
    max-height: 10vh;
    position: relative;
    &-slide {
      display: none;
      width: 100%;
    }
    .is-active {
      display: block;
    }
    a {
      display: flex;
      width: 100%;
      background-image: url(/asset/imgs/메인광고배너.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right;
      padding: $spacing-base;
      flex-flow: column;
      justify-content: center;
      color: $white;
      p {
        margin-top: $spacing-base;
      }
    }
  }
}
