@use "../base" as *;
@use "../function" as *;
@use "../components" as *;

.st-menu {
  background-color: white;
  
  &-introbox.withimg {
    --order-img: url(/);
  }
  &-introbox.withimg::before {
    background-image: var(--order-img);
  }
  &-price {
    margin: $spacing-sm;
    margin-top: $spacing-lg;
    font-size: $font-lg;
  }

  &-depth {
    border-top: solid $grey 1px;
    padding: $spacing-sm;
    &-title{
      font-size: $font-lg;
    }
    &-list {
      & li {
        margin-top: $spacing-base;
        font-size: $font-md;
        & .price {
          float: right;
          &::before {
            content: "+";
          }
        }
      }
    }

    &.radio {
    }
    &.checkbox {
    }
  }

  &-amount {
    border-top: solid $grey 1px;
    padding: $spacing-sm;
    padding-bottom: 10rem;
  }

  &-add {
    position: fixed;
    bottom: 0;
    align-items: center;
    background-color: white;
    border-top: solid $grey 1px;

    & p {
      padding: 0 $spacing-base;
      & b {
        color: $grey;
      }
    }
    & .btn-order {
      margin-right: $spacing-sm;
    }
  }
}
