ul {
  list-style-type: none;
}
.container {
  &-row {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    overflow: scroll;
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  &-col {
    display: flex;
    flex-flow: column nowrap;
  }

  &-img-info {
    display: flow-root;
    width: 100%;
    .left {
      float: left;
      height: 10vh;
      & + ul {
        float: left;
      }
    }
    .right {
      float: right;
      height: 10vh;
      & + ul {
        float: left;
      }
    }
  }
}

.key-value-box {
  display: flex;
  justify-content: space-between;
}
