ul {
  list-style-type: none;
}
.container {
  &-row {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    overflow: scroll;
    li {
      margin-right: 50px;
      background-color: red;
      width: 30%;
    }
  }

  &-col {
    display: flex;
    flex-flow: column nowrap;
    overflow: scroll;
    li {
      background-color: yellow;
      margin-bottom: 20px;
    }
  }

  &-img-info {
    display: flow-root;
    width: 100%;
    .left {
      float: left;
      height: 10vh;
      & + ul {
        float: left;
      }
    }
    .right {
      float: right;
      height: 10vh;
      & + ul {
        float: left;
      }
    }
  }
}

.key-value-box {
  display: flex;
  justify-content: space-between;
}
