@use "../function/colors" as *;

a{
    text-decoration: none;
    color: currentColor;
}

.footer{

    width: 100%;

    &-navigation{

        // 시험하기 위한 margin 값

        margin-top: 100px;
        
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 8px;
        border: solid blue 4px;

        &-main{
            color: white;
            border: solid 1px;
            padding: 16px;
            border-radius: 200px;
            background-color: getColor();
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            transform: translate(0, -16px);
        }
    }


}