@use "../function/colors" as *;
@use "../base/" as *;

a {
  text-decoration: none;
  color: currentColor;
}

.circle-navigation {
  background: $white;
  height: fit-content;
  width: 100vw;
  position: fixed;
  bottom: 0;
  padding: $spacing-base $spacing-md;
  &-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
    li {
      display: flex;
      flex-flow: column;
      text-align: center;
      justify-content: center;
      color: rgba($color: $black, $alpha: 0.5);
      span {
        margin-top: $spacing-sm;
        display: block;
      }
    }
  }
  &-icon {
    font-size: $font-lg;
  }

  &-home {
    width: $font-lg;
  }
}

.homelink {
  background: linear-gradient(to right, getColor(Woowahal-green, 500), getColor(Woowahal-green, 300));
  font-size: $font-lg;
  padding: $spacing-md $spacing-base;
  color: $white;
  border: 2px solid $black;
  border-radius: 50%;
  text-shadow: -2px 0 $black, 0 1px $black, 1px 0 $black, 0 -2px $black;
  box-shadow: -1px 0 $black, 0 0px $black, 1px 0 $black, 0 -0px $black;
  position: absolute;
  top: -40%;
  left: center;
  transform: translateX(-$spacing-base);
}
